.outer-wrapper {
    min-height:100%;
}

.navbar-default {
    background-color: #fff;
}

.navbar {
    min-height:0;
}

.navbar-nav>li>a {
    padding-top:8px;
    padding-bottom:8px;
}

.brand {
    margin-top:100px;
}

.brand h1 {
    font-size: 48px;
}

.tut-hint {
    margin-top:20px;
}

.tut img {
    width:100%;
}

.tut-step {
    margin-top:50px;
}

.msg{
}

.fg-right{
    float:right;
}

.rg-right {
    float:right;
    padding-top:6px;
}

.scd-text {
    margin-bottom:30px;
    font-size: 12px;
}

.site-logos {
    margin-top:40px;
}

.site-logo {
    float: left;
    width: 64px;
    margin-right:20px;
}

.site-logo p {
    font-size: 14px;
    color: #999;
    font-family: "Times New Roman", Georgia, Serif;
}

.vid-img {
    height:100px;
}


div#result {
    clear:both;
    margin-top: 50px;
    display:none;
    border: 1px solid #ccc;
}

div#result .rs-status {
    border-radius:0;
    border-color:transparent;
}

div#result .rs-content {
    margin: 4px;
}

div#result .srch-item {
    margin: 4px;
    padding-bottom:4px;
    border-bottom: 1px dotted #ccc
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

span.stat-text {
    font-size: 16px;
}

div.footer {
    clear:both;
    height:70px;
    margin-top:100px;
    border-top:1px solid #e7e7e7;
    /*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size:12px;
    padding:10px;
}

.footer div.links{
    clear:both;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:180px;
}

.footer div.links>.link{
    display:inline;
    margin-left:30px
}

.footer div.link:first-child{
    margin-left:0
}

.footer div.link>a{
    color:#999;
    text-decoration:none
}

.friends {
}

.friends>.link{
    display:inline;
}
