.outer-wrapper {
    min-height:100%;
}

.brand {
    margin-top:100px;
}

.logo {
    margin-bottom:50px;
}

.site-logo {
    margin-top:50px;
}

div.dn-link {
    margin-top:50px;
    border: 1px solid #ddd;
    padding: 4px;
}

.vid-img {
    height:100px;
}

div.links{
    clear:both;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    width:180px;
}

div.links>.link{
    display:inline;
    margin-left:30px
}

div.links>.first{
    margin-left:0
}

div.link>a{
    color:#999;
    text-decoration:none
}

div#result {
    margin-top: 50px;
}

div.footer {
    clear:both;
    height:70px;
    margin-top:100px;
    border-top:1px solid #e5e5e5;
    /*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size:12px
}

