<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="爱当录支持各类视频网站的视频下载，让你轻轻松松下载视频，让下载视频像看视频一样简单" />
        <meta name="keywords" content="视频下载,秒拍视频下载,微拍视频下载,微录客视频下载,微博视频下载,微视视频下载" />
        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/downloader.css" type="text/css">
        {% endcompress %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="container footer">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="col-md-2">友情链接：</div>
                <div class="col-md-10">
                    <div class="col-md-2"><a target="_blank" href="http://yidoubi.com">一逗比</a></div>
                    <div class="col-md-3"><a href="http://www.kan8090.com" target="_blank">8090免费VIP电影网</a></div>
                    <div class="col-md-2"><a href="http://fulidh.com/" target="_blank">夜趣福利导航</a></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="links">
                    <div class="link"><a href="/aboutus/">联系我们</a></div>
                    <div class="link"><a href="mailto:aidanglu@sina.com">意见反馈</a></div>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256841191'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256841191%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>
              </div>
            </div>
        </div>
        {% load compress %}
        {% compress js %}
        <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/mustache.min.js"></script>
        <script src="/static/js/downloader.js"></script>
        <script>
            $(document).ready(function() {
                downloader.init();
            });
        </script>
        {% endcompress %}
    </body>
</html>

