{% extends "base.html" %}
{% block content %}
<div class="row desc">
    <div class="col-lg-8 col-lg-offset-2">
        <p class="text-center h1 logo">长颈鹿视频下载</p>
        <div class="input-group">
            <input type="text" name="url" class="form-control" placeholder="">
            <span class="input-group-btn">
                {% csrf_token %}
                <button class="btn btn-default" id="download" type="button">下载</button>
            </span>
        </div>
        <div>
            <span>输入视频页面链接：如 <a target='_blank' href="http://www.miaopai.com/show/fEhYvm~vakOc22cw~n8rJg__.htm">http://www.miaopai.com/show/fEhYvm~vakOc22cw~n8rJg__.htm</a></span>
        </div>
    </div>
</div>
<div class="row site-log">
    <div class="col-lg-8 col-lg-offset-2">
        <img border=0 src="/static/img/miaopai.png">
    </div>
</div>
<div id="result">
</div>
{% endblock %}
