{% extends "base.html" %}
{% block title %}爱当录{% endblock %}
{% block content %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">下载视频</a></li>
            <li><a href="/search">搜索视频</a></li>
            <li><a href="/tutorial">下载教程</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row brand">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">爱当录</h1>
            <p class="text-center text-muted scd-text">让下载视频像看视频一样简单</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-danger msg">
            </div>
            <div class="input-group">
                <input type="text" name="url" class="form-control" placeholder="">
                <span class="input-group-btn">
                    {% csrf_token %}
                    <button class="btn btn-default" id="download" type="button">下载</button>
                </span>
            </div>
            <div>
                <span>输入视频页面链接：如<a target="_blank" href="http://www.miaopai.com/show/fEhYvm~vakOc22cw~n8rJg__.htm">http://www.miaopai.com/show/fEhYvm~vakOc22cw~n8rJg__.htm</a></span>
            </div>
        </div>
    </div>
    <div class="row tut-hint">
        <div class="col-md-8 col-md-offset-2">
            <span class="text-warning">不会下载？点击查看<a target="_blank" href="/tutorial/">下载教程</a></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="result">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 site-logos">
            <h4>支持以下网站视频下载</h4>
            <div class="site-logo">
                <img border=0 src="/static/img/miaopai.jpg" alt="miaopai-logo">
                <div class="caption text-center"><p>秒拍</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/meipai.jpg" alt="meipai-logo">
                <div class="caption text-center"><p>美拍</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/vlook.jpg" alt="vlook-logo">
                <div class="caption text-center"><p>微录客</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/weibo.jpg" alt="weibo-logo">
                <div class="caption text-center"><p>微博视频</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/weipai.jpg" alt="weipai-logo">
                <div class="caption text-center"><p>微拍</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/xiaoying.jpg" alt="xiaoying-logo">
                <div class="caption text-center"><p>小影</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/xiaokaxiu.jpg" alt="xiaokaxiu-logo">
                <div class="caption text-center"><p>小咖秀</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/gifshow.jpg" alt="gifshow-logo">
                <div class="caption text-center"><p>快手</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/v1.jpg" alt="v1-logo">
                <div class="caption text-center"><p>第一视频</p></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
