{% extends "base.html" %}
{% block content %}
<div class="row brand">
    <div class="col-lg-8 col-lg-offset-2">
        <h1 class="text-center">爱当录</h1>
        <p class="text-center text-muted scd-text">让下载视频像看视频一样简单</p>
        <div class="input-group">
            <input type="text" name="url" class="form-control" placeholder="">
            <span class="input-group-btn">
                {% csrf_token %}
                <button class="btn btn-default" id="download" type="button">下载</button>
            </span>
        </div>
        <div>
            <span>输入视频页面链接：如<a target='_blank' href="http://www.miaopai.com/show/fEhYvm~vakOc22cw~n8rJg__.htm">http://www.miaopai.com/show/fEhYvm~vakOc22cw~n8rJg__.htm</a></span>
        </div>
        <div class="site-logos">
            <h4>支持以下网站视频下载</h4>
            <div class="site-logo">
                <img border=0 src="/static/img/miaopai.jpg" alt="miaopai-logo">
                <div class="caption text-center"><p>秒拍</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/meipai.jpg" alt="meipai-logo">
                <div class="caption text-center"><p>美拍</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/vlook.jpg" alt="vlook-logo">
                <div class="caption text-center"><p>微录客</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/weibo.jpg" alt="weibo-logo">
                <div class="caption text-center"><p>微博视频</p></div>
            </div>
            <div class="site-logo">
                <img border=0 src="/static/img/weipai.jpg" alt="weipai-logo">
                <div class="caption text-center"><p>微拍</p></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="result">
        </div>
    </div>
</div>
{% endblock %}
