{% extends "base.html" %}
{% block title %}爱当录{% endblock %}
{% block content %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/">下载视频</a></li>
            <li><a href="/search">搜索视频</a></li>
            <li class="active"><a href="/tutorial">下载教程</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">爱当录</h1>
        </div>
    </div>
    <div class="row tut">
        <div class="col-md-8 col-md-offset-2">
            <p>这里以微录客为例，其他网站下载方法类似。</p>
            <div class="tut-step">
                <h4>第1步：打开视频网页，复制浏览器中的视频链接（如下图红圈中所示）</h4>
                <img src="/static/img/tut1.jpg" alt="tut1"></a>
            </div>
            <div class="tut-step">
                <h4>第2步：粘贴链接到输入框，点击“下载”</h4>
                <img src="/static/img/tut2.jpg" alt="tut2"></a>
            </div>
            <div class="tut-step">
                <h4>第3步：出现下载地址后，鼠标移到“下载地址”按钮上方，右键选择“目标另存为”保存文件</h4>
                <img src="/static/img/tut3.jpg" alt="tut3"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
